<section id="home">
<div class="home_picture_header">
</div>
	</section>
<div class="container-fluid">
	
	<div class="row">
		<div class="col-md-3 col-xs-0">
		</div>
		<div class="col-md-6 col-xs-12 center">
			<h3>THE EASIEST SOLUTION FOR RETROFIT WIRE PULLS</h3>
		</div>
		<div class="col-md-3 col-xs-0">
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<%= image_tag "home_green_bit.png", :class => "home_green_bit" %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2 col-sm-0">
		</div>
		<div class="col-md-7 col-sm-12">
			<p class="center">
				The NewPointe noodle system provides a fast and easy solution for connecting an in-wall entry point to an exit point blindly (without vision tools) to pull wire.  Built with a solid copper core and a strong rare-earth magnet, the NewPointe system will help save time and frustration.
			</p>
		</div>
		<div class="col-md-3 col-sm-12 center">
			<%= image_tag "home_second_green_bit.png", :class => "home_second_green_bit" %>
		</div>
	</div>
	<div class="row home_break_up_info">
		<div class="col-md-1 col-sm-0">

		</div>
		<div class="col-md-7 col-sm-12" style="margin-top: 15px; color: white;">
			<h4>Free yourself from cable clutter.</h4>
		</div>
		<div class="col-md-3 col-sm-12 center" style="border: 1px solid white; margin-top: 35px; color: white;">
			Learn how below
		</div>
	</div>
	<section id="products">
	
		<div class="row grey" style="height: 20px;">
		</div>
		<div class="row home_bottom_info center grey">
			<div class="col-md-6 col-sm-12 col-xs-12">
				<%= image_tag "624547296.jpg" %>
			</div>
			<div class="col-md-6 col-sm-12 col-xs-12">
				<h5>GET RID OF CABLE MESS IN YOUR HOME</h5>
				<p>Whether you hang your flat-panel TV on your wall or leave it freestanding on a piece of furniture like I do, its beauty becomes married as soon as you plug in that first cable.  And between my FiOS bos, Blu-ray player and PlayStation 3, my sleek TV would be a mess if I plugged everything directly into it.</p>
			</div>
		</div>
		<div class="row  grey">
		</div>
		<div class="row home_bottom_info center grey">
			<div class="col-md-1 col-sm-0 col-xs-0">
			</div>
			<div class="col-md-4 col-md-push-6 col-sm-12 col-xs-12">
				<%= image_tag "525799810.jpg" %>
			</div>
			<div class="col-md-5 col-md-pull-4 col-sm-12 col-xs-12">
				<h5>SAVE TIME AND FRUSTRATION</h5>
				<p>Everyone has heard the saying: "the right tool for the right job", and "you are only as good as your tools." These sayings are very true when it comes to the choice and use of tools. </p>
			</div>
		</div>
		<div class="row  grey" style="height: 10px;">
		</div>
		<div class="row home_bottom_info center grey">
			<div class="col-md-6 col-sm-12 col-xs-12">
				<%= image_tag "620006352.jpg" %>
			</div>
			<div class="col-md-6 col-sm-12 col-xs-12 grey">
				<h5>QUALITY MATTERS</h5>
				<p>The quality of the tools that you choose to use are as important as the tools themselves when it comes to work and repair quality, that you choose the right types and quality of tools to meet your individual needs, whether they are personal or business related.</p>
			</div>
		</div>
		<div class="row center grey">
			<%= button_to " More info on Products ", company_product_path, method: :get, class: 'products_link' %>
		</div>
	</section>
	<section id="distribution">
		<div class="row" style="height: 20px;">
		</div>
		<div class="row home_bottom_info" style="margin-left: 40px;">

			<div class="col-md-4 col-sm-6 col-xs-12 center">
				<h5>DISTRIBUTION</h5>
				<p></p>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12 center">
				<h5>DISTRIBUTION</h5>
				<p></p>
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12 center">
				<h5>WHERE CAN I FIND THIS PRODUCT</h5>
				<p>We have alot of repitable dealers that cary our product in Utah, We will be expanding to other states very soon. Click on the distribution link button too search for a distributer near you. </p>
			</div>
		</div>
		<div class="row center" style="margin-left: 40px;">
			<%= button_to "More about Distribution ", company_distribution_path, method: :get, class: 'products_link'  %>
		</div>
		
                	
		</div>
	</section>
	<section id="about_us">
	
		<div class="row grey" style="height: 20px;">
		</div>
		<div class="row home_bottom_info center grey">
			<div class="col-md-6 col-sm-12 col-xs-12">
				<%= image_tag "525799810.jpg" %>
			</div>
			<div class="col-md-6 col-sm-12 col-xs-12">
				<h5>WHO ARE WE?</h5>
				<p>We are an American Company trying to bring a better product to the workforce.</p>
			</div>
		</div>
		<div class="row center grey">
               <%= button_to "More About Us ", company_about_us_path, method: :get, class: 'products_link' %>
		</div>
	</section>
	<section id="contact_us">
	
		<div class="row" style="height: 20px;">
		</div>
		<div class="row home_bottom_info center">
			<div class="col-md-6 col-md-push-6 col-sm-12 col-xs-12">
				<%= image_tag "525799810.jpg" %>
			</div>
			<div class="col-md-6 col-md-pull-6 col-sm-12 col-xs-12">
				info
			</div>
		</div>
		<div class="row center">
            <%= button_to "Contact Us ", company_contact_us_path, method: :get, class: 'products_link' %>
		</div>
	</section>
	<footer class="page-footer blue center-on-small-only">

    <!--Footer Links-->
        <div class="row">
			<div class="col-md-1">
			</div>
            <!--First column-->
            <div class="col-md-5">
                <h5 class="title">Footer Content</h5>
                <p>Here you can use rows and columns here to organize your footer content.</p>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-2">
                <h5 class="title">Links</h5>
                <ul>
                    <li><%= link_to "Products ", company_product_path, method: :get, class: 'white' %></li>
                    <li><%= link_to "Distribution ", company_distribution_path, method: :get, class: 'white' %></li>
                    <li><%= link_to "About Us ", company_about_us_path, method: :get, class: 'white' %></li>
                    <li><%= link_to "Contact Us ", company_contact_us_path, method: :get, class: 'white' %></li>
                    <% if !current_admin %>
						<li><%= link_to "Admin", new_admin_session_path, method: :get, class: 'white' %></li>
					<% else %>
						<li><%= link_to "Admin", distributers_path, method: :get, class: 'white' %></li>
					<% end %>
                </ul>
            </div>
            <!--/.Second column-->
        </div>
        <div class="row">
	        <div class="col-md-1">
	        </div>
			<div class="col-md-11">
            	© 2017 Copyright

			</div>
			
    	</div>
    <!--/.Footer Links-->
    <!--/.Copyright-->

	</footer>
</div>

