
<div class="container" style='width: 100%; height: 100%;'>
	<div class="row" >
		<div class="col-md-12 col-sm-12 green" style="height: 70px;">
		</div>
	</div>
	<div class="row" style='width: 100%; height: 400px; min-height: 250px; padding-left: 5%; margin: 0px; padding-top: 10px;'>
		<div class="col-md-1 col-sm-0">
		</div>
		<div class="col-md-6 col-sm-0" style="padding:0px;">
			<div id="sidebar_builder" style='width: 100%; height: 400px;'></div>
		</div>
		<div class="col-md-4 col-sm-0" style="padding:0px;">
		  	<div id='sidebar_container' style='width: 100%; height: 400px;'>
		  	<input placeholder="Search by city, state or zip" class="city_input" type="text" style="margin-left: 4%; margin-top: 18px; margin-bottom:10px; width: 260px;"><button class="submit_button">Submit</button>
		  </div>
		</div>
	</div>
	<div class="row" style='width: 100%; min-height: 250px; padding-left: 5%; padding-top: 20px;'>
		<button class="distributer_button">Become a Distributer?</button>

			<%= form_tag'/company/send_email', remote: true, class: "hidden distributer_form" do |f| %>
				
				<%= hidden_field_tag :send_to_email, nil, class:"send_to_email" %><br />
				<%= text_area_tag :your_email, nil, size: "100x1", class: "customer_email", placeholder: "Your Email" %><br>
				<%= text_area_tag :your_name, nil, size: "100x1", class: "customer_name", placeholder: "Your Name" %><br>
				<%= text_area_tag :message, nil, size: "100x8", class: "customer_input", placeholder: "This will only send too me right now" %><hr>
				<%= submit_tag "Send", class: "submit_email" %>
			<% end %>
	</div>
</div>
<script>
	var submit_button = $(".submit_button");
	submit_button.on('click', function() {
		var input = $('.city_input').val();
		// api call to google maps api too get lat and long from input box. then as long as the lat and long aren't 0 center the map onto that.
		$.getJSON({
			url: 'https://maps.googleapis.com/maps/api/geocode/json?address=' + input + '&key=<%=@google_api_key%>',
			success: function(results) {
				var location = [results.results[0].geometry.location.lat, results.results[0].geometry.location.lng];
				if (location[0] != 0 || location[1] != 0) {
					handler.map.centerOn(location);
					handler.getMap().setZoom(11);
				}
			}
		})
	})
	//builds the map with the distributer locations built in the controller
	
	function createSidebarLi(json){
	  return ("<ul style='cursor:pointer;'><a>" + json.name + "</a></ul>");
	};

	function bindulToMarker($ul, marker){
	  $ul.on('click', function(){
	    handler.getMap().setZoom(11);
	    marker.setMap(handler.getMap()); //because clusterer removes map property from marker
	    marker.panTo();
	    google.maps.event.trigger(marker.getServiceObject(), 'click');
	  })
	};

	function createSidebar(json_array){
	  _.each(json_array, function(json){
	    var $ul = $( createSidebarLi(json) );
	    $ul.appendTo('#sidebar_container');
	    bindulToMarker($ul, json.marker);
	  });
	};

	handler = Gmaps.build('Google');
	handler.buildMap({ internal: {id: 'sidebar_builder'}}, function(){
	  var json_array = [
	    <% @distributers_list.each_with_index do |dist, i| %>
			    {
			      "lat": <%=@distributers_locations[i][0]%>,
			      "lng": <%=@distributers_locations[i][1]%>,
			      "name": '<%= dist[0] %>',
			      "infowindow": `
				      <%= dist[0] %><hr>
				      Address: <%= dist[1] %><hr>
				      Phone Number: <%= dist[2] %><hr>
				      <a href="<%=dist[3]%>">Website</a>
			      `
			    },
			<% end %>
	  ];

	  var markers = handler.addMarkers(json_array);
	  if (<%=@user_location[0]%> != 0 || <%=@user_location[1]%> != 0) {
			handler.map.centerOn(<%=@user_location%>);
		}
	  _.each(json_array, function(json, index){
	    json.marker = markers[index];
	  });

	  createSidebar(json_array);
	  handler.bounds.extendWith(markers);
	  handler.fitMapToBounds();
	});

	$('.distributer_button').on('click', function() {
		$('.distributer_form').removeClass('hidden');
	})
</script>

